<!DOCTYPE html>
<html lang="zh-CN" class="h-100">
<head>
    <meta charset="utf-8">
    <link href="https://www.w3school.com.cn/lib/bs/bootstrap.css" rel="stylesheet">
    <!--    <link href="bootstrap.css" rel="stylesheet">-->
    <title>Hottest-Project</title>
</head>
<body class="h-100 m-0">
<!--<h1>Java Project</h1>-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">JavaProject</a>
        <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">-->
        <!--            <span class="navbar-toggler-icon"></span>-->
        <!--        </button>-->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Graph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rankList">RankList</a>
                </li>
            </ul>
            <!--            <form class="d-flex">-->
            <!--                <input class="form-control me-2" type="text" placeholder="Search">-->
            <!--                <button class="btn btn-primary" type="button">Search</button>-->
            <!--            </form>-->
        </div>
    </div>
</nav>

<div class="h-100" id="container"></div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>

<script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
        renderer: 'svg',
        useDirtyRect: false
    });
    var app = {};
    var items;
    const url = window.location.host

    var type = 'year'
    var option;
    var results = [];
    var temp = 0;
    var min;

    window.onload = function () {
        fetch('data').then(data => data.json()).then(json => {
            items = json['items'];
            for (const item of items) {
                results.push(Number(item['year']))
            }
            init(bar);
            initialSetInterval();
        })
    }

    var bar;
    var data = [];
    for (let i = 0; i < 12; ++i) {
        data.push(0);//设置初始值
    }

    function fetchData(name) {
        fetch(name).then(data => data.json()).then(json => {
            items = json['items'];
            results = []
            for (const item of items) {
                results.push(Number(item[type]))
            }
            init(bar);
            loadData();
        })
    }

    function init(name) {
        for (let i = 0; i < data.length; i++) {
            data[i] = 0;
        }
        let title;
        if (type === 'year') {
            yData = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
            title = 'Github按Watchers排序前1000条的时间分布';
        } else {
            yData = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            title = 'Github按Watchers排序前1000条的时间分布 Year = ' + name
        }
        myChart.setOption({
            title: {
                text: title
            },
            series: [
                {
                    realtimeSort: true,
                    name: type,
                    type: 'bar',
                    itemStyle: {
                        color: '#2f4554'
                    },
                    data: data,
                    label: {
                        show: true,
                        position: 'right',
                        valueAnimation: true
                    }
                }
            ],
            xAxis: {
                max: 'dataMax'
            },
            tooltip: {},
            yAxis: {
                type: 'category',
                data: yData,
                inverse: true,//最上面最大
                animationDuration: 300,
                animationDurationUpdate: 300,
                max: 11 // 只有max+1个柱子
            },
            animationDuration: 0,
            animationDurationUpdate: 1000,//设置在几秒钟之内更新到最新值
            animationEasing: 'linear',
            animationEasingUpdate: 'linear'
        });
    }

    function initialSetInterval() {
        let k = type === 'year' ? 2011 : 1;
        let interval = setInterval(function () {
            for (let i = 0; i < 100; i++) {
                if (temp < results.length) {
                    data[results[temp] - k] += 1;
                    temp++;
                }
            }
            myChart.setOption({
                series: [
                    {
                        type: 'bar',
                        data
                    }
                ]
            });
            if (temp >= results.length) {
                clearInterval(interval)
            }
        }, 1000)
    }

    function loadData() {
        let k = type === 'year' ? 2011 : 1;
        temp = 0;
        for (let i = 0; i < results.length; i++) {
            data[results[i] - k] += 1;
        }
        myChart.setOption({
            series: [
                {
                    type: 'bar',
                    data
                }
            ]
        });
    }

    window.onresize = function () {
        myChart.resize();
    };

    myChart.on('click', function (params) {
        myChart.clear();
        bar = params['name']
        if (bar.length === 4) {
            type = 'month';
            fetchData('year/' + bar);
        } else {
            type = 'year';
            fetchData('data');
        }
    })
</script>
</body>
</html>