<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rank List</title>
    <link href="https://www.w3school.com.cn/lib/bs/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap.css" rel="stylesheet">

    <script src="https://www.w3school.com.cn/lib/bs/bootstrap.js"></script>
    <script src="../static/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item" onclick="showDialog(this)">第一项</li>
        <li class="list-group-item">第二项</li>
        <li class="list-group-item">第三项</li>
    </ul>
    <ul class="pagination justify-content-center" style="margin:20px 0">
        <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
    <button id="modal" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#myModal">
        打开模态
    </button>
</div>
<!-- 模态 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title" id="title">JavaGuide</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body bg-white">
                <p class="card-text" id="discription">Discription:「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Java 面试，首选
                    JavaGuide！</p>
                <p class="card-text" id="watches">Watches: 121458</p>
                <p class="card-text" id="time">Time: 2018-05-07</p>
            </div>

            <!-- 模态页脚 -->
            <div class="modal-footer">
                <a href="#" class="btn btn-primary float-end">查看Github页面</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="showDialog()">click</button>
</body>
</html>

<script type="text/javascript">
    function showDialog(item) {
        console.log(item)
        // document.getElementById('modal').click()
        $("#modal").click()
    }
</script>
