<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/github_icon.ico}" type="image/x-icon"/>
    <!--    <link href="https://cdn.staticfile.org/bootstrap/5.1.3/css/bootstrap.css" rel="stylesheet">-->
    <link href="/bootstrap.css" rel="stylesheet">

    <!--    <script src="https://cdn.staticfile.org/bootstrap/5.1.3/js/bootstrap.js"></script>-->
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.js"></script>
    <!--    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>-->
    <title>Rank List</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="/github_icon.ico" alt="Logo" style="width:40px;" class="rounded-pill">
        </a>
        <a class="navbar-brand">Github-Watcher-Ranking</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Bar-Race</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pie-chart">Pie-Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/rank-list">Rank-List</a>
                </li>
            </ul>
        </div>
        <div class="d-flex me-3">
            <input class="form-control me-2" id="content" type="text" placeholder="Search">
            <button class="btn btn-primary" id="search" onclick="search()">Search</button>
        </div>
        <a class="navbar-brand float-end">Language: Java</a>
    </div>
</nav>
<div class="container mt-5">
    <ul class="pagination justify-content-center" style="margin:20px 0">
        <li class="page-item pre"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item next"><a class="page-link" href="#">下一页</a></li>
    </ul>
    <ul class="list-group" id="list">
        <!--        <li id="1" class="list-group-item" onclick="showDialog(this)">JavaGuide</li>-->
    </ul>
    <ul class="pagination justify-content-center" style="margin:20px 0">
        <li class="page-item pre"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item p-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item next"><a class="page-link" href="#">下一页</a></li>
    </ul>
    <button id="modal" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#myModal">
    </button>
</div>
<!-- 模态 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title text-white" id="title">JavaGuide</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body bg-white">
                <p class="card-text" id="description">Description:「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Java 面试，首选
                    JavaGuide！</p>
                <p class="card-text" id="watchers">Watchers: 121458</p>
                <p class="card-text" id="time">Time: 2018-05-07</p>
            </div>

            <!-- 模态页脚 -->
            <div class="modal-footer">
                <a href="https://github.com/MisterBooo/LeetCodeAnimation" target="_blank" id="url"
                   class="btn btn-primary float-end">查看Github页面</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="application/javascript">
    var tempPage = 1;
    var dataSet;
    $(document).ready(function () {
        getPage(1);
    })

    $('#content').keydown(function (event) {
        if (event.keyCode === 13) {
            search()
        }
    })

    function search() {
        let url = window.location.href
        window.location.href = url + '/search-result/' + $('#content').val()
    }

    function showDialog(item) {
        setDialog(item['id'])
        $("#modal").click()
    }

    function setDialog(id) {
        let tempItem = dataSet[id]
        $("#title").text(tempItem['name'])
        $("#description").text(tempItem['des'])
        $("#watchers").text('Watchers: ' + tempItem['watchers'])
        $("#time").text('Date: ' + tempItem['time'].split('T')[0])
        $("#url").attr('href', tempItem['url'])
    }

    function getPage(i) {
        fetch('page/' + i).then(response => response.json()).then(json => {
            dataSet = json['items'];
            setList();
        })
    }

    function setList() {
        $(".list-group").empty();
        let html;
        for (let i = 0; i < dataSet.length; i++) {
            html = '<li id="' + i + '" class="list-group-item" style="cursor: pointer" onclick="showDialog(this)">'
                + dataSet[i]['name']
                + '<span class="float-end text-secondary">' + dataSet[i]['watchers']
                + '</span>'
                + '</li>';
            $('#list').append(html);
        }
    }

    $(".p-item").on('click', function () {
        tempPage = this.innerText;
        console.log(tempPage)
        getPage(tempPage)
    })

    $(".pre").on('click', function () {
        tempPage = Math.max(tempPage - 1, 1);
        console.log(tempPage)
        getPage(tempPage)
    })
    $(".next").on('click', function () {
        tempPage = Math.min(tempPage + 1, 10);
        console.log(tempPage)
        getPage(tempPage)
    })


</script>
