<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>card</title>
    <link href="https://www.w3school.com.cn/lib/bs/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap.css" rel="stylesheet">

    <script src="https://www.w3school.com.cn/lib/bs/bootstrap.js"></script>
    <script src="../static/jquery.min.js"></script>
</head>
<body class="h-100 m-3 border">
<div class="card m-auto bg-warning text-center" style="width:800px;">
    <div class="card-body m-3">
        <h4 class="card-title mb-2">JavaGuide</h4>
        <p class="card-text">「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Java 面试，首选 JavaGuide！</p>
        <p class="card-text">Watches: 121458</p>
        <p class="card-text">Time: 2018-05-07</p>
        <a href="#" class="btn btn-primary float-end">查看Github页面</a>
    </div>
</div>


<ul class="list-group" id="list">
            <li id="1" class="list-group-item w-100" onclick="showDialog(this)">JavaGuide<span class="float-end text-secondary">192047</span></li>
</ul>
<button id="modal" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#myModal">
    打开模态
</button>

<!-- 模态 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title" id="title">JavaGuide</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body bg-white">
                <p class="card-text" id="description">Description: </p>
                <p class="card-text" id="watches">Watches: </p>
                <p class="card-text" id="time">Time: </p>
            </div>

            <!-- 模态页脚 -->
            <div class="modal-footer">
                <a href="#" class="btn btn-primary float-end">查看Github页面</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="showDialog()">click</button>
</body>
</html>

<script type="text/javascript">
    function showDialog() {
        document.getElementById('modal').click()
    }
</script>
